#models *,
#selectSimulation * {
    display: inline-block;
}

.column {
    float: left;
    margin-right: 20px;
}

#simulTick p {
    display: inline-block;
}

.choiceBtn {
    display: block;
    margin-bottom: 6px;
    width: 200px;
    height: 40px;
}

div.disabled {
  pointer-events: none;
  opacity: 0.5;
}